{% extends 'admin/add.html.twig' %}

{% block content %}
    <script type="text/javascript" src="{{  asset('media/libs/dropzone/dropzone.js') }}"></script>
    <script>
        Dropzone.options.myAwesomeDropzone = {
            paramName: "img",
            dictDefaultMessage: 'Э суда файл тащи братик',
            dictRemoveFile: '',
            addRemoveLinks: true,
            success : function(file, response)
            {
                var res = JSON.parse(response);
                var vib = $('.dz-preview');

                for ( var i = 0; i < vib.length; i++ )
                {
                    if ( $(vib[i]).attr('data-url') == undefined )
                    {
                        $(vib[i]).attr('data-url', res);
                        break;
                    }
                }
            },
            removedfile: function (file)
            {
                var url = $(file.previewTemplate).attr('data-url');
                $.ajax({
                    type: "POST",
                    data: { url : url },
                    url: 'ajaxremoveimg',
                    dataType: "json",
                    success: function(e) {
                        $(file.previewTemplate).remove();
                    }
                });
            }
        };
    </script>
    <link rel="stylesheet" href="{{ asset('media/libs/dropzone/dropzone.min.css') }}">
    <h2 style="margin: 30px auto;">Перенесите файлы чтобы добавить к статье</h2>
    <form style="margin: 30px auto;" id="myAwesomeDropzone" action="{{ oneup_uploader_endpoint('gallery') }}" class="dropzone"></form>

    <a id="ready_button" href="{{ path('admin_index') }}">Готово</a>
{% endblock %}
